* {
  margin: 0;
  box-sizing: 0;
  padding: 0;
}

.heading {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
  font-family: sans-serif;
  text-transform: uppercase;
  color: rgb(216, 209, 209);
  font-size: 20px;
}

.timeline-container {
  display: grid;
  grid-template-columns: 1fr 10% 1fr;
  grid-template-rows: repeat(4, 1fr);
  background: url(https://picsum.photos/1200);
  background-attachment: scroll;
  background-size: cover;
  padding: 10%;
  place-items: center;
}
.center-line {
  width: 30%;
  height: 100%;
  background: rgba(7, 6, 6, 0.75);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  grid-column: 2;
  grid-row: 1 / 5;
}

body {
  font-family: sans-serif;
}

.item-1 {
  grid-column: 3;
  grid-row: 1;
}

.item-2 {
  grid-column: 1;
  grid-row: 2;
}

.item-3 {
  grid-column: 3;
  grid-row: 3;
}

.item-4 {
  grid-column: 1;
  grid-row: 4;
}

.timeline-item {
  color: black;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  padding: 10%;
  margin: 10%;
  background: rgba(192, 173, 191, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(17px);
  -webkit-backdrop-filter: blur(17px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

@media screen and (max-width: 720px) {
  .timeline-container {
    display: grid;
    grid-template-columns: 10% 1fr;
  }
  .center-line {
    grid-column: 1;
  }
  .timeline-item {
    grid-column: 2;
  }

  .item-1 {
    grid-row: 1;
  }

  .item-2 {
    grid-row: 2;
  }

  .item-3 {
    grid-row: 3;
  }

  .item-4 {
    grid-row: 4;
  }
}
